<!-- Announcement Banner -->
<div id="announcement-banner" class="simple-banner">
    <span>
        Join us for our Rocket Launch event on Saturday, September 6th, 6PM at Berry Park. For more information visit the <a href="/pack322-site-nonprod/pages/rocket-launch.html" style="color: #0057b8; text-decoration: underline;">Rocket Launch Event page</a>.
    </span>
    <button id="close-banner-btn" aria-label="Close announcement"
        style="margin-left:1em; background: #fff; color: #0057b8; border: none; font-size: 1.2em; cursor: pointer; border-radius: 3px;">
        &times;
    </button>
</div>

<!-- Responsive Navbar -->
<nav class="main-navbar">
    <div class="navbar-container">
        <a href="index.html" class="navbar-logo">
            <img src="https://raw.githubusercontent.com/RTTMsec/Img/main/Pack%20322_Logo.png" alt="Pack 322 Logo">
        </a>
        <button class="navbar-toggle" id="navbar-toggle" aria-label="Toggle navigation">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="navbar-links" id="navbar-links">
            <li><a href="/pack322-site-nonprod/index.html">HOME</a></li>
            <li><a href="/pack322-site-nonprod/pages/calendar.html">CALENDAR</a></li>
            <!-- <li><a href="#">NEWSLETTER</a></li> -->
            <li class="dropdown">
                <a href="/pack322-site-nonprod/pages/events.html">EVENTS</a>
                <ul class="dropdown-menu">
                    <li><a href="/pack322-site-nonprod/pages/rocket-launch.html">Rocket Launch</a></li>
                    <li><a href="/pack322-site-nonprod/pages/eureka-parade.html">Eureka Days Parade</a></li>
                    <li><a href="#">Scouting for Food</a></li>
                    <li><a href="#">Blue & Gold</a></li>
                    <li><a href="#">Pinewood Derby</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">PARENT RESOURCES</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Welcome New Families!</a></li>
                    <li><a href="#">Returning Cub Scouts</a></li>
                    <li><a href="#">Program Costs</a></li>
                    <li><a href="#">Uniforms</a></li>
                    <li><a href="#">Useful Sites</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">LEADER RESOURCES</a>
                <ul class="dropdown-menu">
                    <li><a href="#">General Leader Resources</a></li>
                    <li><a href="#">Training</a></li>
                </ul>
            </li>
            <li><a href="#">FUNDRAISING</a></li>
            <li class="dropdown">
                <a href="#">ABOUT</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Our Pack</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Leadership</a></li>
        </ul>
    </div>
</nav>

