<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Pack 322 - Eureka, MO</title>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/RTTMsec/Img/main/Pack%20322_Logo.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&subset=latin-ext&ver=6.8.2" type="text/css" media="all">
    <!-- jQuery (required for SmartMenus) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- SmartMenus CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SmartMenus/1.1.1/addons/bootstrap/jquery.smartmenus.bootstrap.min.css" rel="stylesheet">
    <!-- SmartMenus JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SmartMenus/1.1.1/jquery.smartmenus.min.js"></script>

</head>